.promotion-banner {
    width: 100%;
    overflow: hidden;  /* Hide content that overflows */
    position: relative;
}

.promotion-slider {
    display: flex;
    animation: scroll-banner 20s linear infinite; /* Auto-scrolling animation */
}

.promotion-text {
    padding: 10px;
    text-align: center;
    white-space: nowrap; /* Prevent text wrapping */
    flex-shrink: 0; /* Prevent items from shrinking */
    margin-right: 50px; /* Space between each promotion */
    border-radius: 5px;
}

@keyframes scroll-banner {
    0% {
        transform: translateX(100%); /* Start offscreen */
    }
    100% {
        transform: translateX(-100%); /* Move to the left and offscreen */
    }
}
